---
import ArrowLine from "../arrow-line.astro";

interface Props {
	hidden?: "md";
}

const { hidden } = Astro.props;

const hiddenClass = {
	"": "",
	md: "hidden md:flex",
}[hidden ?? ""];
---

<div class="relative">
	<div
		class={`absolute text-gray-400 bottom-[100%] -translate-y-2 -translate-x-[50%] left-0 ${hiddenClass} flex-col items-end gap-2`}
	>
		<span class="text-xs text-center max-w-[50ch] mx-auto translate-x-[25%]">
			<slot name="note" />
		</span>
		<ArrowLine width="15mm" height="15mm" />
	</div>
	<slot />
</div>
