---
import BackgroundTop from "../background/background-top.astro";
---

<section class="relative flex flex-col text-center gap-2 pt-32 pb-32">
	<BackgroundTop />
	<span class="text-3xl">I am Adrian López</span>
	<span class="text-2xl">
		<span class="font-bold text-indigo-600">Front-end</span> developer
	</span>
	<span class="text-xl">
		<span class="font-bold text-cyan-600">Self-taught</span> and enthusiastic programmer
	</span>
	<span class="text-xl">
		<span class="font-bold text-teal-700">Functional</span> programming lover
	</span>
</section>
