---
import type { Skill } from "~/constants/skills";
import Section from "../section/section.astro";
import Project from "./project.astro";
import type { Category } from "~/constants/categories";

const projects: {
	project: string;
	skills: Skill[];
	description?: string;
	github?: string;
	site?: string;
	categories: Category[];
}[] = [
	{
		project: "Portfolio v5",
		description: "Version 5 of my portfolio (this)",
		skills: [
			"HTML",
			"CSS",
			"JavaScript",
			"TypeScript",
			"React",
			"Astro",
			"TailwindCSS",
			"Iconify",
			"Bun",
			"Vercel",
		],
		categories: ["web", "portfolio"],
		site: "v5.xeraph.dev",
		github: "portfolio-v5",
	},
	{
		project: "Calendar Generator",
		description: "A calendar generator in various formats",
		skills: ["Swift", "Vercel"],
		categories: ["cli", "tool", "web", "server"],
		site: "calendar.xeraph.dev",
		github: "calendar-generator",
	},
	{
		project: "Languages Benchmarks",
		description: "Repository to compare some languages in some challenges",
		skills: ["Bash", "Haskell", "JavaScript", "Lua", "Swift", "Zig"],
		categories: ["cli", "challenge"],
		github: "languages-benchmarks",
	},
	{
		project: "Composing Programs Offline",
		description:
			"Small script to download the composing program book using web scraping",
		skills: ["Python"],
		categories: ["cli", "tool"],
		github: "composing-programs-offline",
	},
	{
		project: "Metal HUD Enabler",
		description: "Small script to enable the Metal 3 HUD per app",
		skills: ["Swift"],
		categories: ["cli", "tool"],
		github: "metal-hud-enabler",
	},
	{
		project: "Text Highlighter",
		description: "A web component to manage text highlights",
		skills: ["HTML", "CSS", "JavaScript", "TypeScript", "WebComponents"],
		categories: ["web"],
		site: "text-highlight.vercel.app",
		github: "text-highlighter",
	},
	{
		project: "colors",
		description: "Colors for console.log",
		skills: ["JavaScript", "TypeScript"],
		categories: ["package"],
		site: "www.npmjs.com/package/@xeraph-dev/colors",
		github: "colors",
	},
	{
		project: "eslint-config",
		description: "An opinionated eslint config",
		skills: ["JavaScript"],
		categories: ["package"],
		site: "www.npmjs.com/package/@xeraph-dev/eslint-config",
		github: "eslint-config",
	},
	{
		project: "prettier-config",
		description: "An opinionated prettier config",
		skills: ["JavaScript"],
		categories: ["package"],
		site: "www.npmjs.com/package/@xeraph-dev/prettier-config",
		github: "prettier-config",
	},
	{
		project: "go mux custom timeout",
		description: "custom version of http.TimeoutHandler",
		skills: ["Go"],
		categories: ["server", "practice"],
		github: "go-mux-custom-timeout",
	},
	{
		project: "Blog example",
		description: "Small example project of a blog",
		skills: [
			"HTML",
			"CSS",
			"JavaScript",
			"TypeScript",
			"React",
			"Node.js",
			"Express.js",
			"GraphQL",
			"Apollo",
			"SQLite",
			"JWT",
			"TypeORM",
		],
		categories: ["web", "server", "example"],
		github: "blog-example",
	},
	{
		project: "codepm",
		description: "Bash script to manage visual studio code profiles",
		skills: ["Bash"],
		categories: ["cli", "tool"],
		github: "codepm",
	},
	{
		project: "VSCode Profile Manager (macos)",
		description: "A profile manager for Visual Studio Code",
		skills: ["Swift"],
		categories: ["desktop"],
		github: "vscode-profile-manager-macos",
	},
	{
		project: "Rick and Morty (macos)",
		description: "Small client for the rick and morty api",
		skills: ["Swift"],
		categories: ["desktop"],
		github: "rick-and-morty-macos",
	},
	{
		project: "Portfolio v4",
		description: "Version 4 of my portfolio",
		skills: [
			"HTML",
			"CSS",
			"JavaScript",
			"TypeScript",
			"Astro",
			"TailwindCSS",
			"Iconify",
			"Vercel",
		],
		categories: ["web", "portfolio"],
		site: "v4.xeraph.dev",
		github: "portfolio-v4",
	},
	{
		project: "Sudoku",
		description: "A simple sudoku desktop app",
		skills: ["HTML", "CSS", "JavaScript", "TypeScript", "Svelte", "Tauri"],
		categories: ["web", "desktop", "game"],
		github: "sudoku",
	},
	{
		project: "Channel watcher bot",
		description:
			"Telegram bot to watch groups and channels and notify you when it matches a configured filter",
		skills: ["Python", "Docker", "Prisma"],
		categories: ["bot"],
		github: "channels-watcher-bot",
	},
	{
		project: "Blog markup example",
		skills: [
			"HTML",
			"CSS",
			"JavaScript",
			"Swiper.js",
			"Iconify",
			"Alpine.js",
			"Vercel",
		],
		categories: ["web", "example"],
		site: "blog-markup-example.xeraph.dev",
		github: "blog-markup-example",
	},
	{
		project: "Portfolio v3",
		description: "Version 3 of my portfolio",
		skills: [
			"HTML",
			"CSS",
			"JavaScript",
			"TypeScript",
			"Astro",
			"TailwindCSS",
			"Vercel",
		],
		categories: ["web", "portfolio"],
		site: "v3.xeraph.dev",
		github: "portfolio-v3",
	},
	{
		project: "Challenge Search flights",
		skills: ["HTML", "CSS", "JavaScript", "TypeScript", "Sass", "Vercel"],
		categories: ["web", "challenge"],
		site: "challenge-search-flights.xeraph.dev",
		github: "challenge-search-flights",
	},
	{
		project: "Challenge Chart",
		skills: ["HTML", "CSS", "JavaScript", "TypeScript", "Sass", "Vercel"],
		categories: ["web", "challenge"],
		site: "challenge-chart.xeraph.dev",
		github: "challenge-chart",
	},
	{
		project: "VM Translator",
		description: "A VM Translator for Hack VM",
		skills: ["Haskell"],
		categories: ["compiler", "cli", "tool"],
		github: "vm-translator",
	},
	{
		project: "Hack Assembler",
		description: "An Assembler for Hack Assembly",
		skills: ["Haskell"],
		categories: ["compiler", "cli", "tool"],
		github: "hack-assembler",
	},
	{
		project: "Very small CRUD example",
		skills: ["JavaScript", "Node.js", "Express.js"],
		categories: ["server", "example"],
		github: "very-small-crud-example",
	},
	{
		project: "Space Invaders",
		description: "Simple Space Invaders game written in Racket",
		skills: ["Racket"],
		categories: ["game"],
		github: "space-invaders.rkt",
	},
	{
		project: "Portfolio v2",
		description: "Version 2 of my portfolio",
		skills: ["HTML", "CSS", "React", "Vercel"],
		categories: ["web", "portfolio"],
		site: "v2.xeraph.dev",
		github: "portfolio",
	},
	{
		project: "Challenge accordion",
		skills: ["HTML", "CSS", "JavaScript", "TypeScript", "React", "Vercel"],
		categories: [],
		site: "accordion-challenge.xeraph.dev",
		github: "challenge-accordion",
	},
	{
		project: "Challenge vacations api",
		skills: ["JavaScript", "TypeScript", "Node.js", "Express.js"],
		categories: ["server", "challenge"],
		github: "challenge-vacations-api",
	},
	{
		project: "Full-stack interview",
		skills: ["HTML", "CSS", "JavaScript", "TypeScript", "React"],
		categories: ["web", "challenge"],
		github: "full-stack-interview",
	},
	{
		project: "Dual repo",
		description: "An utility to update a repo from another repo",
		skills: ["JavaScript", "Node.js"],
		categories: ["cli", "tool"],
		github: "dual_repo",
	},
	{
		project: "Auth with tweetnacl",
		description: "Simple auth example with tweetnacl",
		skills: ["HTML", "JavaScript", "Node.js"],
		categories: ["web", "server", "example"],
		github: "auth-with-tweetnacl",
	},
	{
		project: "Client CRUD Challenge",
		description: "Client of a CRUD application challenge",
		skills: [
			"HTML",
			"CSS",
			"JavaScript",
			"TypeScript",
			"React",
			"Next.js",
			"Material-UI",
		],
		categories: ["web", "challenge"],
		github: "challenge-crud-students-admin",
	},
	{
		project: "Server CRUD Challenge",
		description: "Server of a CRUD application challenge",
		skills: ["JavaScript", "TypeScript", "Node.js", "Express.js", "MongoDB"],
		categories: ["server", "challenge"],
		github: "challenge-crud-students-server",
	},
	{
		project: "Slidercards",
		description: "Slidecards challenge",
		skills: [
			"HTML",
			"CSS",
			"JavaScript",
			"TypeScript",
			"React",
			"Next.js",
			"Styled Components",
			"Vercel",
		],
		categories: ["web", "challenge"],
		github: "slidercards",
		site: "slidercards.xeraph.dev",
	},
	{
		project: "BettyCook",
		description: "A recipe book",
		skills: ["Dart", "Flutter"],
		categories: ["mobile"],
		github: "bettycook",
	},
	{
		project: "Portfolio v1",
		description: "My first portfolio",
		skills: [
			"HTML",
			"CSS",
			"JavaScript",
			"TypeScript",
			"React",
			"Next.js",
			"Material-UI",
			"Framer",
			"Vercel",
		],
		categories: ["portfolio", "web"],
		github: "porfolio",
		site: "v1.xeraph.dev",
	},
];
---

<Section id="projects" title="Projects" pagination={projects.length}>
	<ul class="grid gap-8 md:grid-cols-4" data-paginated>
		{
			projects.map((item, i) => (
				<li
					class={`col-span-2 ${
						i % 2 === 0 && i === projects.length - 1 ? "md:col-start-2" : ""
					} ${i >= 4 ? "hidden" : ""}`}
				>
					<Project {...item} />
				</li>
			))
		}
	</ul>
</Section>
