.HomePage_section_info {
  & section {
    box-shadow: var(--shadow-inset);
    padding: 64px 16px;
  }
}

.HomePage_section_skills {
  padding: 32px 16px;
  flex-grow: 1;
  height: fit-content;
}

.HomePage_section_experience {
  padding: 32px 16px;
}

.HomePage_section_contact {
  padding: 32px 16px;
}

@media screen and (min-width: 992px) {
  .HomePage_section_skills {
    max-width: 70%;
  }
}
