---
import BackgorundEnd from "../background/backgorund-bottom.astro";

const links = [
	{
		href: "https://github.com/xeraph-dev",
		icon: "icon-[tabler--brand-github]",
		title: "GitHub",
	},
	{
		href: "https://www.linkedin.com/in/adrian-l%C3%B3pez/",
		icon: "icon-[tabler--brand-linkedin]",
		title: "Linkedin",
	},
	{
		href: "https://t.me/xeraphdev",
		icon: "icon-[tabler--brand-telegram]",
		title: "Telegram",
	},
	{
		href: "https://x.com/xeraphdev",
		icon: "icon-[tabler--brand-x]",
		title: "X",
	},
];
---

<footer class="relative flex flex-col items-center justify-center gap-10 py-24">
	<BackgorundEnd />
	<ul class="flex gap-6 text-5xl">
		{
			links.map(({ href, icon, title }) => (
				<li>
					<a
						href={href}
						class={icon}
						target="_blank"
						rel="noreferrer"
						aria-label={title}
					/>
				</li>
			))
		}
	</ul>
</footer>
