---
interface Props {
	href: string;
	class?: string;
}

const { href, class: className = "" } = Astro.props;
---

<header-link>
	<a
		class:list={[
			"flex items-center h-full px-2 py-1 hover:bg-slate-600 hover:bg-opacity-40 hover:shadow hover:shadow-slate-900 rounded-full",
			className,
		]}
		href={href}
	>
		<slot />
	</a>
</header-link>

<script>
	class HeaderLink extends HTMLElement {
		anchor: HTMLAnchorElement;
		hash: string;
		classes = "bg-slate-600 bg-opacity-40 shadow shadow-slate-900".split(" ");

		constructor() {
			super();

			const anchor = this.querySelector("a");
			if (!anchor) throw new Error("[header-link] Missing anchor element");
			this.anchor = anchor;
			this.hash = new URL(this.anchor.href).hash;

			this.listen();
		}

		listen() {
			this.update(window.location.hash);
			window.addEventListener("hashchange", (ev) => {
				const hash = new URL(ev.newURL).hash;
				this.update(hash);
			});
		}

		update(hash: string) {
			if (hash === this.hash) {
				this.anchor.classList.add(...this.classes);
			} else {
				this.anchor.classList.remove(...this.classes);
			}
		}
	}

	customElements.define("header-link", HeaderLink);
</script>
