---
import Popover from "../popover.astro";
import HeaderButton from "./header-button.astro";
import HeaderLink from "./header-link.astro";

type Link = {
	name: string;
	href: string;
};

interface Props {
	links: Link[];
}

const { links } = Astro.props;
---

<nav
	class="rounded-full shadow shadow-slate-900 bg-slate-700 p-0.5 hidden sm:block"
>
	<ul
		class="flex h-full rounded-full shadow-inner shadow-slate-950 bg-slate-800"
	>
		{
			links.map(({ href, name }, i) => (
				<li>
					<HeaderLink
						href={href}
						class={
							i === 0
								? "pl-3 rounded-l-full"
								: i === links.length - 1
									? "pr-3 rounded-r-full"
									: ""
						}
						name={name}
					/>
				</li>
			))
		}
	</ul>
</nav>

<div class="sm:hidden">
	<Popover
		placement="bottom"
		items={links.map(({ href, name }) => ({
			id: `link-${href.replace("#", "")}`,
			href: href,
			text: name,
		}))}
	>
		<HeaderButton icon="icon-[tabler--menu]" />
	</Popover>
</div>
