---
import { addDays, intervalToDuration } from "date-fns";
import BackgroundTop from "./background/background-top.astro";
import { t } from "#i18n";

const duration = intervalToDuration({
	start: new Date("2019-04"),
	end: addDays(Date.now(), 1),
});

const yearsText = t("common.years", {
	count: duration.years ?? 0,
});
let years = duration.years ? `${duration.years} ${yearsText}` : "";
if (years && (!duration.months || duration.months > 0)) {
	years = `+${years}`;
}
---

<section class="relative flex flex-col text-center gap-2 pt-32 pb-32 font-bold">
	<BackgroundTop />
	<span class="text-3xl sm:text-4xl">{t("cv.header.short-about.i-am")}</span>
	<span class="text-2xl sm:text-3xl">
		{years}
		{t("cv.header.short-about.front-end-developer")}
	</span>
	<span class="text-xl sm:text-2xl">
		{t("cv.header.short-about.self-taught-programmer")}
	</span>
	<span class="text-xl sm:text-2xl">
		{t("cv.header.short-about.functional-programming-lover")}
	</span>
</section>
