---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props;
---

<div
	class={`rounded-md shadow shadow-slate-900 bg-slate-900 p-3 flex flex-col ${className}`}
	{...props}
>
	<slot />
</div>
