---
import Background from "./background/background-section.astro";

interface Props {
	id: string;
	title: string;
}

const { id, title } = Astro.props;
---

<section id={id} class="relative py-16">
	<Background />
	<div class="max-w-[80ch] w-full px-6 sm:px-8 mx-auto">
		<h2 class="pb-8 text-3xl font-bold md:-ml-2">{title}</h2>
		<slot />
	</div>
</section>
