---
import Background from "../background/background-section.astro";
import Paginator from "./section-paginator.astro";

interface Props {
	id: string;
	title: string;
	pagination?: number;
}

const { id, title, pagination = false } = Astro.props;
---

<section id={id} class="relative py-16">
	<Background />
	<div class="max-w-[80ch] w-full px-6 sm:px-8 mx-auto">
		<div class="pb-8 flex justify-between gap-2 items-end">
			<h2 class="text-3xl font-bold font-amita">{title}</h2>
			{pagination && <Paginator items={pagination} />}
		</div>
		<slot />
	</div>
</section>
