---
import "@fontsource/nunito";
import "@fontsource/nunito/300.css";
import "@fontsource/nunito/700.css";
import "@fontsource/amita/700.css";
import Contact from "~/components/contact.astro";
import Header from "~/components/header/header.astro";
import { init, locale, LOCALES, DEFAULT_LOCALE, type Locale, t } from "#i18n";
import BaseHead from "~/components/base-head.astro";

interface Props {
	title?: string;
	description?: string;
}

const { title, description } = Astro.props;

const LOCALE_REGEX = new RegExp(`^\/((${LOCALES.join("|")})\/)?`);
const localeCode =
	Astro.url.pathname.match(LOCALE_REGEX)?.[2] ?? DEFAULT_LOCALE;

await init();
locale.set(localeCode as Locale);

const baseTitle = t("common.title");
const fullTitle = title ? `${title} | ${baseTitle}` : baseTitle;
---

<html lang="en" class="scroll-smooth">
	<head>
		<BaseHead
			title={fullTitle}
			description={description ?? t("common.description")}
		/>
	</head>
	<body
		class="flex flex-col min-h-screen bg-slate-950 dark:text-slate-50 font-nunito"
	>
		<Header />
		<main class="grow">
			<slot />
		</main>
		<Contact />
	</body>
</html>
