---
import "@fontsource/nunito";
import "@fontsource/nunito/300.css";
import "@fontsource/nunito/700.css";
import "@fontsource/amita/700.css";
import Contact from "~/components/contact.astro";
import Header from "~/components/header/header.astro";
import { init, locale, LOCALES, DEFAULT_LOCALE, type Locale } from "#i18n";

interface Props {
	title?: string;
}

const { title } = Astro.props;
const baseTitle = "Adrian López Portfolio";
const fullTitle = title ? `${title} | ${baseTitle}` : baseTitle;

const LOCALE_REGEX = new RegExp(`^\/((${LOCALES.join("|")})\/)?`);
const localeCode =
	Astro.url.pathname.match(LOCALE_REGEX)?.[2] ?? DEFAULT_LOCALE;

await init();
locale.set(localeCode as Locale);
---

<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="color-scheme" content="dark" />
		<title>{fullTitle}</title>
		<script src="~/scripts/theme.ts"></script>
	</head>
	<body
		class="flex flex-col min-h-screen bg-slate-950 dark:text-slate-50 font-nunito"
	>
		<Header />
		<main class="grow">
			<slot />
		</main>
		<Contact />
	</body>
</html>
