---
import Background from "~/components/background.astro";
import Contact from "~/components/contact/contact.astro";
import Header from "~/components/header/header.astro";

interface Props {
	title?: string;
}

const { title } = Astro.props;
const baseTitle = "Adrian López Portfolio";
const fullTitle = title ? `${title} | ${baseTitle}` : baseTitle;
---

<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{fullTitle}</title>
		<script src="~/scripts/theme.ts"></script>
	</head>
	<body class="flex flex-col min-h-screen bg-slate-950 dark:text-slate-50">
		<Header />
		<main class="grow max-w-[75ch] w-full px-4 mx-auto"><slot /></main>
		<Contact />
		<Background />
	</body>
</html>
